<!DOCTYPE html>
<head>
    <title>My Complaints</title>
</head>
<body>
    <div class = "viewComp">
        
            <div class="card">
                <% details.forEach(function(detail){%>
                <div class = "container">
                    <form action = "viewComp" method = "post">
                    <img src = "<%=detail.Image%>" alt="Image" />
                    <label>COMPLAINT ID</label><br>
                    <p id="CID",name="CID",value="CID"><%=detail.ComplaintID%></p><br>
                    
                    <label>USERNAME</label><br>
                    <label><%=detail.username%><label><br>
                    
                    <label>Location</label><br>
                    <label><%=detail.Location%><label><br>

                    <label>Description</label><br>
                    <label><%=detail.Description%><label><br>

                    <label>Type Of Waste</label><br>
                    <label><%=detail.Type_waste%><label><br>

                    <label>CITY</label><br>
                    <label><%=detail.City%><label><br>

                    <label>DATE</label><br>
                    <label><%=detail.Date%><label><br>

                    <label>STREET</label><br>
                    <label><%=detail.Street%><label><br>

                    <label>RECOMMENDED TEAM SIZE</label><br>
                    <label><%=detail.rec_team_size%><label><br>
                        
                    <input type="hidden" name="CID" value="<%=detail.ComplaintID%>" />
                    <input type = "submit" value = "Solved">
                    </form>
                </div>
                <% }); %>
            </div>
       
    </div>

    <style>
        .img{
            display: inline-block;
        }
        .container{
            padding: 15px;
            background-color: black;
            color: white;
            margin: 20px;
        }
    </style>
</body>